openapi: 3.1.0
info:
  title: GitHub REST API
  version: "1.0.0"
  description: |
    GitHub REST API client for managing repositories, users, organizations, and GitHub Actions.
    This specification covers a subset of the GitHub API for the gsmlg app.
  contact:
    name: GitHub
    url: https://docs.github.com/rest
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.github.com
    description: GitHub API endpoint
tags:
  - name: Users
    description: Operations for managing authenticated user
  - name: Repos
    description: Operations for repositories
  - name: Orgs
    description: Operations for organizations
  - name: Actions
    description: Operations for GitHub Actions workflows and runs

paths:
  # Users endpoints
  /user:
    get:
      operationId: getAuthenticatedUser
      summary: Get the authenticated user
      description: |
        If the authenticated user is authenticated with an OAuth token with the `user` scope,
        then the response lists public and private profile information.
      tags:
        - Users
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /user/orgs:
    get:
      operationId: listOrgsForAuthenticatedUser
      summary: List organizations for the authenticated user
      description: List organizations for the authenticated user.
      tags:
        - Users
      parameters:
        - name: per_page
          in: query
          description: The number of results per page (max 100).
          schema:
            type: integer
            default: 30
        - name: page
          in: query
          description: Page number of the results to fetch.
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'

  # Repos endpoints
  /user/repos:
    get:
      operationId: listReposForAuthenticatedUser
      summary: List repositories for the authenticated user
      description: |
        Lists repositories that the authenticated user has explicit permission
        (:read, :write, or :admin) to access.
      tags:
        - Repos
      parameters:
        - name: visibility
          in: query
          description: Limit results to repositories with the specified visibility.
          schema:
            type: string
            enum:
              - all
              - public
              - private
            default: all
        - name: affiliation
          in: query
          description: |
            Comma-separated list of values. Can include:
            * `owner`: Repositories that are owned by the authenticated user.
            * `collaborator`: Repositories that the user has been added to as a collaborator.
            * `organization_member`: Repositories that the user has access to through being a member of an organization.
          schema:
            type: string
            default: "owner,collaborator,organization_member"
        - name: type
          in: query
          description: Limit results to repositories of the specified type.
          schema:
            type: string
            enum:
              - all
              - owner
              - public
              - private
              - member
            default: all
        - name: sort
          in: query
          description: The property to sort the results by.
          schema:
            type: string
            enum:
              - created
              - updated
              - pushed
              - full_name
            default: full_name
        - name: direction
          in: query
          description: The order to sort by.
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: per_page
          in: query
          description: The number of results per page (max 100).
          schema:
            type: integer
            default: 30
        - name: page
          in: query
          description: Page number of the results to fetch.
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Repository'

  /repos/{owner}/{repo}:
    get:
      operationId: getRepo
      summary: Get a repository
      description: The `parent` and `source` objects are present when the repository is a fork.
      tags:
        - Repos
      parameters:
        - name: owner
          in: path
          required: true
          description: The account owner of the repository.
          schema:
            type: string
        - name: repo
          in: path
          required: true
          description: The name of the repository without the `.git` extension.
          schema:
            type: string
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Repository'

  /repos/{owner}/{repo}/contents/{path}:
    get:
      operationId: getRepositoryContent
      summary: Get repository content
      description: Gets the contents of a file in a repository.
      tags:
        - Repos
      parameters:
        - name: owner
          in: path
          required: true
          description: The account owner of the repository.
          schema:
            type: string
        - name: repo
          in: path
          required: true
          description: The name of the repository without the `.git` extension.
          schema:
            type: string
        - name: path
          in: path
          required: true
          description: The content path.
          schema:
            type: string
        - name: ref
          in: query
          description: The name of the commit/branch/tag.
          schema:
            type: string
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepositoryContent'

  # Orgs endpoints
  /orgs/{org}/repos:
    get:
      operationId: listOrgRepos
      summary: List organization repositories
      description: Lists repositories for the specified organization.
      tags:
        - Orgs
      parameters:
        - name: org
          in: path
          required: true
          description: The organization name.
          schema:
            type: string
        - name: type
          in: query
          description: Specifies the types of repositories you want returned.
          schema:
            type: string
            enum:
              - all
              - public
              - private
              - forks
              - sources
              - member
            default: all
        - name: sort
          in: query
          description: The property to sort the results by.
          schema:
            type: string
            enum:
              - created
              - updated
              - pushed
              - full_name
            default: created
        - name: direction
          in: query
          description: The order to sort by.
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: per_page
          in: query
          description: The number of results per page (max 100).
          schema:
            type: integer
            default: 30
        - name: page
          in: query
          description: Page number of the results to fetch.
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Repository'

  # Actions endpoints
  /repos/{owner}/{repo}/actions/workflows:
    get:
      operationId: listWorkflows
      summary: List repository workflows
      description: Lists the workflows in a repository.
      tags:
        - Actions
      parameters:
        - name: owner
          in: path
          required: true
          description: The account owner of the repository.
          schema:
            type: string
        - name: repo
          in: path
          required: true
          description: The name of the repository without the `.git` extension.
          schema:
            type: string
        - name: per_page
          in: query
          description: The number of results per page (max 100).
          schema:
            type: integer
            default: 30
        - name: page
          in: query
          description: Page number of the results to fetch.
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListWorkflowsResponse'

  /repos/{owner}/{repo}/actions/runs:
    get:
      operationId: listWorkflowRuns
      summary: List workflow runs for a repository
      description: |
        Lists all workflow runs for a repository. You can use parameters to narrow the list of results.
      tags:
        - Actions
      parameters:
        - name: owner
          in: path
          required: true
          description: The account owner of the repository.
          schema:
            type: string
        - name: repo
          in: path
          required: true
          description: The name of the repository without the `.git` extension.
          schema:
            type: string
        - name: actor
          in: query
          description: Returns someone's workflow runs. Use the login for the user who created the `push` associated with the check suite or workflow run.
          schema:
            type: string
        - name: branch
          in: query
          description: Returns workflow runs associated with a branch. Use the name of the branch of the `push`.
          schema:
            type: string
        - name: event
          in: query
          description: Returns workflow run triggered by the event you specify. For example, `push`, `pull_request` or `issue`.
          schema:
            type: string
        - name: status
          in: query
          description: Returns workflow runs with the check run status or conclusion that you specify.
          schema:
            type: string
            enum:
              - completed
              - action_required
              - cancelled
              - failure
              - neutral
              - skipped
              - stale
              - success
              - timed_out
              - in_progress
              - queued
              - requested
              - waiting
              - pending
        - name: per_page
          in: query
          description: The number of results per page (max 100).
          schema:
            type: integer
            default: 30
        - name: page
          in: query
          description: Page number of the results to fetch.
          schema:
            type: integer
            default: 1
        - name: created
          in: query
          description: Returns workflow runs created within the given date-time range.
          schema:
            type: string
            format: date-time
        - name: exclude_pull_requests
          in: query
          description: If `true` pull requests are omitted from the response.
          schema:
            type: boolean
            default: false
        - name: check_suite_id
          in: query
          description: Returns workflow runs with the check_suite_id that you specify.
          schema:
            type: integer
        - name: head_sha
          in: query
          description: Only returns workflow runs that are associated with the specified head_sha.
          schema:
            type: string
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListWorkflowRunsResponse'

  /repos/{owner}/{repo}/actions/workflows/{workflow_id}/runs:
    get:
      operationId: listWorkflowRunsForWorkflow
      summary: List workflow runs for a workflow
      description: |
        List all workflow runs for a workflow. You can replace `workflow_id` with the workflow file name.
      tags:
        - Actions
      parameters:
        - name: owner
          in: path
          required: true
          description: The account owner of the repository.
          schema:
            type: string
        - name: repo
          in: path
          required: true
          description: The name of the repository without the `.git` extension.
          schema:
            type: string
        - name: workflow_id
          in: path
          required: true
          description: The ID of the workflow. You can also pass the workflow file name as a string.
          schema:
            type: string
        - name: actor
          in: query
          description: Returns someone's workflow runs.
          schema:
            type: string
        - name: branch
          in: query
          description: Returns workflow runs associated with a branch.
          schema:
            type: string
        - name: event
          in: query
          description: Returns workflow run triggered by the event you specify.
          schema:
            type: string
        - name: status
          in: query
          description: Returns workflow runs with the check run status or conclusion that you specify.
          schema:
            type: string
            enum:
              - completed
              - action_required
              - cancelled
              - failure
              - neutral
              - skipped
              - stale
              - success
              - timed_out
              - in_progress
              - queued
              - requested
              - waiting
              - pending
        - name: per_page
          in: query
          description: The number of results per page (max 100).
          schema:
            type: integer
            default: 30
        - name: page
          in: query
          description: Page number of the results to fetch.
          schema:
            type: integer
            default: 1
        - name: created
          in: query
          description: Returns workflow runs created within the given date-time range.
          schema:
            type: string
            format: date-time
        - name: exclude_pull_requests
          in: query
          description: If `true` pull requests are omitted from the response.
          schema:
            type: boolean
            default: false
        - name: check_suite_id
          in: query
          description: Returns workflow runs with the check_suite_id that you specify.
          schema:
            type: integer
        - name: head_sha
          in: query
          description: Only returns workflow runs that are associated with the specified head_sha.
          schema:
            type: string
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListWorkflowRunsResponse'

  /repos/{owner}/{repo}/actions/workflows/{workflow_id}/dispatches:
    post:
      operationId: createWorkflowDispatch
      summary: Create a workflow dispatch event
      description: |
        You can use this endpoint to manually trigger a GitHub Actions workflow run.
      tags:
        - Actions
      parameters:
        - name: owner
          in: path
          required: true
          description: The account owner of the repository.
          schema:
            type: string
        - name: repo
          in: path
          required: true
          description: The name of the repository without the `.git` extension.
          schema:
            type: string
        - name: workflow_id
          in: path
          required: true
          description: The ID of the workflow. You can also pass the workflow file name as a string.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkflowDispatchRequest'
      responses:
        '204':
          description: Response

  /repos/{owner}/{repo}/actions/runs/{run_id}:
    get:
      operationId: getWorkflowRun
      summary: Get a workflow run
      description: Gets a specific workflow run.
      tags:
        - Actions
      parameters:
        - name: owner
          in: path
          required: true
          description: The account owner of the repository.
          schema:
            type: string
        - name: repo
          in: path
          required: true
          description: The name of the repository without the `.git` extension.
          schema:
            type: string
        - name: run_id
          in: path
          required: true
          description: The unique identifier of the workflow run.
          schema:
            type: integer
        - name: exclude_pull_requests
          in: query
          description: If `true` pull requests are omitted from the response.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRun'

  /repos/{owner}/{repo}/actions/runs/{run_id}/cancel:
    post:
      operationId: cancelWorkflowRun
      summary: Cancel a workflow run
      description: Cancels a workflow run using its id.
      tags:
        - Actions
      parameters:
        - name: owner
          in: path
          required: true
          description: The account owner of the repository.
          schema:
            type: string
        - name: repo
          in: path
          required: true
          description: The name of the repository without the `.git` extension.
          schema:
            type: string
        - name: run_id
          in: path
          required: true
          description: The unique identifier of the workflow run.
          schema:
            type: integer
      responses:
        '202':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyObject'

  /repos/{owner}/{repo}/actions/runs/{run_id}/rerun:
    post:
      operationId: rerunWorkflow
      summary: Re-run a workflow
      description: Re-runs your workflow run using its id.
      tags:
        - Actions
      parameters:
        - name: owner
          in: path
          required: true
          description: The account owner of the repository.
          schema:
            type: string
        - name: repo
          in: path
          required: true
          description: The name of the repository without the `.git` extension.
          schema:
            type: string
        - name: run_id
          in: path
          required: true
          description: The unique identifier of the workflow run.
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RerunWorkflowRequest'
      responses:
        '201':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyObject'

  /repos/{owner}/{repo}/actions/runs/{run_id}/rerun-failed-jobs:
    post:
      operationId: rerunWorkflowFailedJobs
      summary: Re-run failed jobs from a workflow run
      description: Re-run all of the failed jobs and their dependent jobs in a workflow run using the id of the workflow run.
      tags:
        - Actions
      parameters:
        - name: owner
          in: path
          required: true
          description: The account owner of the repository.
          schema:
            type: string
        - name: repo
          in: path
          required: true
          description: The name of the repository without the `.git` extension.
          schema:
            type: string
        - name: run_id
          in: path
          required: true
          description: The unique identifier of the workflow run.
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RerunWorkflowRequest'
      responses:
        '201':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyObject'

components:
  schemas:
    User:
      type: object
      description: GitHub user account
      properties:
        id:
          type: integer
          description: Unique identifier of the user
        login:
          type: string
          description: The username used to login
        node_id:
          type: string
        avatar_url:
          type: string
          format: uri
        gravatar_id:
          type: string
          nullable: true
        url:
          type: string
          format: uri
        html_url:
          type: string
          format: uri
        followers_url:
          type: string
          format: uri
        following_url:
          type: string
        gists_url:
          type: string
        starred_url:
          type: string
        subscriptions_url:
          type: string
          format: uri
        organizations_url:
          type: string
          format: uri
        repos_url:
          type: string
          format: uri
        events_url:
          type: string
        received_events_url:
          type: string
          format: uri
        type:
          type: string
        site_admin:
          type: boolean
        name:
          type: string
          nullable: true
        company:
          type: string
          nullable: true
        blog:
          type: string
          nullable: true
        location:
          type: string
          nullable: true
        email:
          type: string
          format: email
          nullable: true
        hireable:
          type: boolean
          nullable: true
        bio:
          type: string
          nullable: true
        twitter_username:
          type: string
          nullable: true
        public_repos:
          type: integer
        public_gists:
          type: integer
        followers:
          type: integer
        following:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        private_gists:
          type: integer
        total_private_repos:
          type: integer
        owned_private_repos:
          type: integer
        disk_usage:
          type: integer
        collaborators:
          type: integer
        two_factor_authentication:
          type: boolean
      required:
        - id
        - login
        - type

    SimpleUser:
      type: object
      description: A GitHub user
      properties:
        id:
          type: integer
        login:
          type: string
        node_id:
          type: string
        avatar_url:
          type: string
          format: uri
        gravatar_id:
          type: string
          nullable: true
        url:
          type: string
          format: uri
        html_url:
          type: string
          format: uri
        type:
          type: string
        site_admin:
          type: boolean
        name:
          type: string
          nullable: true
        email:
          type: string
          format: email
          nullable: true
      required:
        - id
        - login

    Organization:
      type: object
      description: GitHub organization
      properties:
        id:
          type: integer
        login:
          type: string
        node_id:
          type: string
        url:
          type: string
          format: uri
        repos_url:
          type: string
          format: uri
        events_url:
          type: string
          format: uri
        hooks_url:
          type: string
        issues_url:
          type: string
        members_url:
          type: string
        public_members_url:
          type: string
        avatar_url:
          type: string
          format: uri
        description:
          type: string
          nullable: true
      required:
        - id
        - login

    Repository:
      type: object
      description: A repository on GitHub
      properties:
        id:
          type: integer
          description: Unique identifier of the repository
        node_id:
          type: string
        name:
          type: string
          description: The name of the repository
        full_name:
          type: string
        owner:
          $ref: '#/components/schemas/SimpleUser'
        private:
          type: boolean
          description: Whether the repository is private
        html_url:
          type: string
          format: uri
        description:
          type: string
          nullable: true
          description: A short description of the repository
        fork:
          type: boolean
        url:
          type: string
          format: uri
        forks_url:
          type: string
          format: uri
        keys_url:
          type: string
        collaborators_url:
          type: string
        teams_url:
          type: string
          format: uri
        hooks_url:
          type: string
          format: uri
        issue_events_url:
          type: string
        events_url:
          type: string
          format: uri
        assignees_url:
          type: string
        branches_url:
          type: string
        tags_url:
          type: string
          format: uri
        blobs_url:
          type: string
        git_tags_url:
          type: string
        git_refs_url:
          type: string
        trees_url:
          type: string
        statuses_url:
          type: string
        languages_url:
          type: string
          format: uri
        stargazers_url:
          type: string
          format: uri
        contributors_url:
          type: string
          format: uri
        subscribers_url:
          type: string
          format: uri
        subscription_url:
          type: string
          format: uri
        commits_url:
          type: string
        git_commits_url:
          type: string
        comments_url:
          type: string
        issue_comment_url:
          type: string
        contents_url:
          type: string
        compare_url:
          type: string
        merges_url:
          type: string
          format: uri
        archive_url:
          type: string
        downloads_url:
          type: string
          format: uri
        issues_url:
          type: string
        pulls_url:
          type: string
        milestones_url:
          type: string
        notifications_url:
          type: string
        labels_url:
          type: string
        releases_url:
          type: string
        deployments_url:
          type: string
          format: uri
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        pushed_at:
          type: string
          format: date-time
          nullable: true
        git_url:
          type: string
        ssh_url:
          type: string
        clone_url:
          type: string
        svn_url:
          type: string
          format: uri
        homepage:
          type: string
          nullable: true
        size:
          type: integer
        stargazers_count:
          type: integer
        watchers_count:
          type: integer
        language:
          type: string
          nullable: true
        has_issues:
          type: boolean
        has_projects:
          type: boolean
        has_downloads:
          type: boolean
        has_wiki:
          type: boolean
        has_pages:
          type: boolean
        has_discussions:
          type: boolean
        forks_count:
          type: integer
        mirror_url:
          type: string
          format: uri
          nullable: true
        archived:
          type: boolean
        disabled:
          type: boolean
        open_issues_count:
          type: integer
        license:
          $ref: '#/components/schemas/License'
        allow_forking:
          type: boolean
        is_template:
          type: boolean
        web_commit_signoff_required:
          type: boolean
        topics:
          type: array
          items:
            type: string
        visibility:
          type: string
          enum:
            - public
            - private
            - internal
        forks:
          type: integer
        open_issues:
          type: integer
        watchers:
          type: integer
        default_branch:
          type: string
          description: The default branch of the repository
        permissions:
          $ref: '#/components/schemas/RepositoryPermissions'
      required:
        - id
        - name
        - full_name
        - owner
        - private
        - fork

    RepositoryPermissions:
      type: object
      properties:
        admin:
          type: boolean
        maintain:
          type: boolean
        push:
          type: boolean
        triage:
          type: boolean
        pull:
          type: boolean

    RepositoryContent:
      type: object
      description: A repository file content response.
      properties:
        type:
          type: string
          description: Content type.
        encoding:
          type: string
          nullable: true
          description: Content encoding.
        size:
          type: integer
        name:
          type: string
        path:
          type: string
        content:
          type: string
          nullable: true
          description: Base64 encoded file contents.
        sha:
          type: string
        url:
          type: string
          format: uri
        git_url:
          type: string
          format: uri
          nullable: true
        html_url:
          type: string
          format: uri
          nullable: true
        download_url:
          type: string
          format: uri
          nullable: true
      required:
        - type
        - name
        - path
        - sha

    License:
      type: object
      nullable: true
      properties:
        key:
          type: string
        name:
          type: string
        spdx_id:
          type: string
          nullable: true
        url:
          type: string
          format: uri
          nullable: true
        node_id:
          type: string

    Workflow:
      type: object
      description: A GitHub Actions workflow
      properties:
        id:
          type: integer
          description: Unique identifier of the workflow
        node_id:
          type: string
        name:
          type: string
          description: The name of the workflow
        path:
          type: string
          description: The path of the workflow file
        state:
          type: string
          enum:
            - active
            - deleted
            - disabled_fork
            - disabled_inactivity
            - disabled_manually
          description: State of the workflow
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        url:
          type: string
          format: uri
        html_url:
          type: string
          format: uri
        badge_url:
          type: string
          format: uri
      required:
        - id
        - name
        - path
        - state

    ListWorkflowsResponse:
      type: object
      properties:
        total_count:
          type: integer
        workflows:
          type: array
          items:
            $ref: '#/components/schemas/Workflow'
      required:
        - total_count
        - workflows

    WorkflowRun:
      type: object
      description: A GitHub Actions workflow run
      properties:
        id:
          type: integer
          description: The ID of the workflow run
        name:
          type: string
          nullable: true
          description: The name of the workflow run
        node_id:
          type: string
        check_suite_id:
          type: integer
          nullable: true
        check_suite_node_id:
          type: string
          nullable: true
        head_branch:
          type: string
          nullable: true
          description: The branch of the head commit
        head_sha:
          type: string
          description: The SHA of the head commit
        path:
          type: string
        display_title:
          type: string
          description: Title of the workflow run
        run_number:
          type: integer
          description: The auto incrementing run number for the workflow run
        run_attempt:
          type: integer
        referenced_workflows:
          type: array
          items:
            $ref: '#/components/schemas/ReferencedWorkflow'
          nullable: true
        event:
          type: string
          description: The event that triggered the workflow run
        status:
          type: string
          nullable: true
          description: The status of the workflow run
          enum:
            - requested
            - in_progress
            - completed
            - queued
            - waiting
            - pending
        conclusion:
          type: string
          nullable: true
          description: The conclusion of the workflow run
          enum:
            - success
            - failure
            - neutral
            - cancelled
            - skipped
            - timed_out
            - action_required
            - stale
            - startup_failure
        workflow_id:
          type: integer
          description: The ID of the parent workflow
        url:
          type: string
          format: uri
        html_url:
          type: string
          format: uri
        pull_requests:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/PullRequestMinimal'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        actor:
          $ref: '#/components/schemas/SimpleUser'
        triggering_actor:
          $ref: '#/components/schemas/SimpleUser'
        run_started_at:
          type: string
          format: date-time
        jobs_url:
          type: string
          format: uri
        logs_url:
          type: string
          format: uri
        check_suite_url:
          type: string
          format: uri
        artifacts_url:
          type: string
          format: uri
        cancel_url:
          type: string
          format: uri
        rerun_url:
          type: string
          format: uri
        previous_attempt_url:
          type: string
          format: uri
          nullable: true
        workflow_url:
          type: string
          format: uri
        head_commit:
          $ref: '#/components/schemas/Commit'
        repository:
          $ref: '#/components/schemas/MinimalRepository'
        head_repository:
          $ref: '#/components/schemas/MinimalRepository'
      required:
        - id
        - head_sha
        - event
        - workflow_id

    ReferencedWorkflow:
      type: object
      properties:
        path:
          type: string
        sha:
          type: string
        ref:
          type: string
      required:
        - path
        - sha

    PullRequestMinimal:
      type: object
      properties:
        id:
          type: integer
        number:
          type: integer
        url:
          type: string
          format: uri
        head:
          type: object
          properties:
            ref:
              type: string
            sha:
              type: string
            repo:
              type: object
              properties:
                id:
                  type: integer
                url:
                  type: string
                  format: uri
                name:
                  type: string
        base:
          type: object
          properties:
            ref:
              type: string
            sha:
              type: string
            repo:
              type: object
              properties:
                id:
                  type: integer
                url:
                  type: string
                  format: uri
                name:
                  type: string

    Commit:
      type: object
      nullable: true
      properties:
        id:
          type: string
        tree_id:
          type: string
        message:
          type: string
        timestamp:
          type: string
          format: date-time
        author:
          $ref: '#/components/schemas/CommitAuthor'
        committer:
          $ref: '#/components/schemas/CommitAuthor'

    CommitAuthor:
      type: object
      nullable: true
      properties:
        name:
          type: string
        email:
          type: string
          format: email

    MinimalRepository:
      type: object
      properties:
        id:
          type: integer
        node_id:
          type: string
        name:
          type: string
        full_name:
          type: string
        owner:
          $ref: '#/components/schemas/SimpleUser'
        private:
          type: boolean
        html_url:
          type: string
          format: uri
        description:
          type: string
          nullable: true
        fork:
          type: boolean
        url:
          type: string
          format: uri

    ListWorkflowRunsResponse:
      type: object
      properties:
        total_count:
          type: integer
        workflow_runs:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowRun'
      required:
        - total_count
        - workflow_runs

    WorkflowDispatchRequest:
      type: object
      description: Request body for creating a workflow dispatch event
      properties:
        ref:
          type: string
          description: The git reference for the workflow. The reference can be a branch or tag name.
        inputs:
          type: object
          additionalProperties:
            type: string
          description: Input keys and values configured in the workflow file.
      required:
        - ref

    RerunWorkflowRequest:
      type: object
      description: Request body for re-running a workflow
      properties:
        enable_debug_logging:
          type: boolean
          default: false
          description: Whether to enable debug logging for the re-run.

    EmptyObject:
      type: object
      description: An object without any properties.
